<%= simple_form_for song,
  html: {class: "form-horizontal" },
  wrapper: :horizontal_form do |f| %>

  <%= f.input :title %>
  <%= f.input :lyrics, input_html: {rows: 10} %>

  <% if song.link.nil? %>
    <div class="form-group">
      <label class="col-sm-3 control-label" for="song_link">
        Upload Song
      </label>
      <div class="col-sm-9">
        <%= f.file_field :mp3file, label: "Upload Song",
          class: "btn btn-default" %>
      </div>
    </div>
  <% else %>
    <div class="form-group">
      <label class="col-sm-3 control-label" for="song_link">
        Uploaded Song
      </label>
      <div class="col-sm-9 vertical-align">
        <audio controls="controls">
          <source src="<%= @song.link %>" />
        </audio>
      </div>
    </div>
  <% end %>

  <br/>
  <%= f.submit "Submit", class: "btn btn-info" %>

        <p>
          <%= link_to "Remove Song", "songs/delete/?song=" + song.link,
            class: "btn btn-danger",
            confirm: 'Are you sure you want to delete ' + @song.title + '?' %>
        </p>

<% end %>

